.panel .panelheader {
  background: transparent url(../images/bar2_bg.gif) repeat-x scroll 0 0;
  color: white;
  height: 27px;
}
.panel .panelheader .ph_l {
  background: transparent url(../images/bar2_1.gif) no-repeat scroll left center;
  height: 27px;
}
.panel .panelheader .ph_r {
  background: transparent url(../images/bar2_2.gif) no-repeat scroll right
    center;
  height: 27px;
}
.panel .panelheader strong {
  font-size: 14px;
}
.panel .panelheader .ph_c .phc_l,
.panel .panelheader .ph_c .phc_r {
  float: left;
  padding: 4px 0;
}
.panel .panelheader .ph_c .phc_r {
  float: right;
}
.ph_c {
  padding: 0 10px;
}
.panel .panelBody {
  border: 1px solid #cccccc;
  padding: 5px;
}
