.treeLite ul,.treeLite li {
	list-style-type:none;
	padding:0;
	margin:0;
}
.treeLite li ul li {
	padding-left:20px;
	padding-top:5px;
}
.ext-ie6 .treeLite li ul li {
	padding-left:23px;
}
.treeLite .indent {
	padding:0 8px;
}

.treeLite a.tree-node-group {
	background:transparent url(../../base/images/group-expand-sprite.gif) no-repeat scroll 0 0;
	padding:0 8px;
	outline:0;
	text-decoration:none;
}

.treeLite a.tree-node-collapse {
	background-position:3px 0;
}

.treeLite a.tree-node-expand {
	background-position:3px -50px;
}

.treeLite a.nodeItem:link,.treeLite a.nodeItem:visited {
	text-decoration:none;
}
.treeLite a.nodeItem:hover,.treeLite a.nodeItem:active {
	text-decoration:underline;
}