.tabpanel .tabheader {
	border:1px solid #AECBD4;
	border-top:none;
	padding-bottom:2px;
	background:#DEECFD none repeat scroll 0 0;
	
}

.tabpanel ul.tabpanel_nav  , .tabpanel .tabpanel_nav li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}

.tabpanel ul.tabpanel_nav {
	display:block;
	/*background:#AECBD4 url(../../images/ebay/tab-strip-bg.gif) repeat-x scroll center;*/
	background:lightsteelblue none;
	border-bottom:1px solid #AECBD4;
	padding-top:1px;
}


.tabpanel .tabpanel_nav li {
	float:left;
	padding-left:2px;	
}



.tabpanel_nav a, .tabpanel_nav span, .tabpanel_nav em {
		display:block;
}

.tabpanel .tabpanel_nav li a.tab_left {
		background:transparent url(../../images/ebay/tab.gif) no-repeat scroll left bottom;
		padding-left:10px;
		position:relative;
		cursor:pointer;		
		display:block;
		/*È¥³ýÐéÏß*/
		/*hide-focus: expression(this.hideFocus=true);  in js for ie 5+ */
  	outline: none;  /* for firefox 1.5 + */
		text-decoration:none !important;
}

.tabpanel .tabpanel_nav li em.tab_right {
		background:transparent url(../../images/ebay/tabRight.gif) no-repeat scroll right bottom;
		padding-right:10px;
}

.tabpanel .tabpanel_nav li span.tab_inner {
		
}
.tabpanel .tabpanel_nav li span.tab_text {
		color:#999999;
		cursor:pointer;
		font-family:tahoma,arial,helvetica;
		font-size:12px;
		font-style:normal;
		font-variant:normal;
		font-weight:normal;
		line-height:normal;
		padding:4px 0;
		white-space:nowrap;
}

.tabpanel .tabpanel_nav li.tab_active a.tab_left {
		background-position:left top;
		margin-bottom:-1px;
		cursor:default;
}

.tabpanel .tabpanel_nav li.tab_active span.tab_text {
		color:#000000;
		cursor:default;
		font-weight:bold;
		padding-bottom:5px;
}

.tabpanel .tabpanel_nav li.tab_active span.tab_inner {
		
}

.tabpanel .tabpanel_nav li.tab_active em.tab_right {
		background-position:right top;
}



.tabpanel .panels {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #AECBD4;
	border-top:none;
}

.tabpanel .hiddenTab {
	display:none;
}

.tabpanel .panels .panel{	
	background:transparent url(../../images/ebay/tab-strip-bg.gif) repeat-x scroll 0 0;
	color:#474747;
	padding:10px;
}