/**
 pop up style for kissy editor
@author:yiminghe@gmail.com
**/
.ke-popup-wrap {
    /*
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;*/
    background-color: #FFFFFF;
    border: 1px solid #8F8F73;
    position: absolute;
    z-index: 10001;
    /*
    -moz-box-shadow: 3px 3px 13px #DDDDDD;
    -webkit-box-shadow: 3px 3px 13px #DDDDDD;
    box-shadow: 3px 3px 13px #DDDDDD;*/
    -moz-box-shadow: 2px 2px 0.5em #888888;
    -webkit-box-shadow: 2px 2px 0.5em #888888;
    box-shadow: 2px 2px 0.5em #888888;
}
