<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
	<head>
		<title>
			baidu layout
		</title>
	</head>
	<body>
		<h1 style="text-align:center;">center:200px;<br/> left:40%-102px;<br/>
			right:60%-102px;
			</h1>
		<div style="overflow:hidden;">
			<div style="width:40%;float:left;margin-left:-100%;position:relative;left:100%;">
				<div style="background: black;margin-right:102px;color:white;margin-bottom:-1000em;padding-bottom:1001em;">
					left<br/>
					left<br/>
					left<br/>
					left<br/>
					left<br/>
				</div>
			</div>
			<div style="width:60%;float:left;margin-left:-100%;position:relative;left:140%;">
				<div style="background: green;margin-left:102px;margin-bottom:-1000em;padding-bottom:1001em;">
					right<br/>
					right<br/>
					right<br/>
					right<br/>
					right<br/>
					right<br/>
					
				</div>
			</div>
			<div style="width:200px;float:left;background: red;position:relative;left:40%;margin-left:-100px;margin-bottom:-1000em;padding-bottom:1001em;">
				center<br/>
				center<br/>
				center<br/>
				center<br/>
				center<br/>
				center<br/>
			</div>
		</div>
		<div style="border:1px solid purple;clear:both;">
			
			footer
		
			</div>
	</body>
</html>
