<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">

<head>
	   <title>simulated absolute positioning demo</title>
	   <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
       <link href="sap-fivecol.css" media="screen" rel="Stylesheet" type="text/css" />      
</head>

<body>

<div id="canvas">

	<div class="line" id="line1">	  	
	  <div class="item" id="item1">
	    <div class="sap-content">item 1</div>
	  </div>
	  <div class="item" id="item2">
	  	<div class="sap-content">item 2</div>
	  </div>
	  <div class="item" id="item3">
	  	<div class="sap-content">Completely cultivate leveraged action items via multidisciplinary internal or "organic" sources. Authoritatively.</div>
	  </div>
	  <div class="item" id="item4">
	  	<div class="sap-content">item 4</div>
	  </div>
	  <div class="item" id="item5">
	  	<div class="sap-content">item 5</div>
	  </div>
	</div>
	
	<div class="line" id="line2">	  	
	  <div class="item" id="item6">
	    <div class="sap-content">item 6</div>
	  </div>
	  <div class="item" id="item7"><div class="sap-content"><img src="Maastricht.jpg" alt="" /></div></div>
	  <div class="item" id="item8">
	  	<div class="sap-content">Continually maximize granular intellectual capital rather than visionary strategic theme areas. Quickly exploit cooperative web services after impactful total linkage. Objectively revolutionize leading-edge networks via vertical services.</div>
	  </div>
	</div>
</div>
<div id="closure"></div>
</body>
</html>
