.tabpanel .tabheader {
	border:1px solid #8DB2E3;
	padding-bottom:2px;
	background:#DEECFD none repeat scroll 0 0;
	
}

.tabpanel ul.tabpanel_nav  , .tabpanel .tabpanel_nav li {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin:0;
	padding:0;
}

.tabpanel ul.tabpanel_nav {
	display:block;
	background:#CEDFF5 url(../images/tab-strip-bg.gif) repeat-x scroll center bottom;
	border-bottom:1px solid #8DB2E3;
	padding-top:1px;
}


.tabpanel .tabpanel_nav li {
	float:left;
	padding-left:2px;	
}



.tabpanel_nav a, .tabpanel_nav span, .tabpanel_nav em {
		display:block;
}

.tabpanel .tabpanel_nav li a.tab_left {
		background:transparent url(../images/tabs-sprite.gif) no-repeat scroll 0 -51px;
		padding-left:10px;
		position:relative;
		cursor:pointer;		
		display:block;
		/*È¥³ýÐéÏß*/
		/*hide-focus: expression(this.hideFocus=true);  in js for ie 5+ */
  	outline: none;  /* for firefox 1.5 + */
		text-decoration:none !important;
}

.tabpanel .tabpanel_nav li em.tab_right {
		background:transparent url(../images/tabs-sprite.gif) no-repeat scroll right -351px;
		padding-right:10px;
}

.tabpanel .tabpanel_nav li span.tab_inner {
		background:transparent url(../images/tabs-sprite.gif) repeat-x scroll 0 -201px;
}
.tabpanel .tabpanel_nav li span.tab_text {
		/*-x-system-font:none;*/
		color:#416AA3;
		cursor:pointer;
		font-family:tahoma,arial,helvetica;
		font-size:12px;
		/*font-size-adjust:none;
		font-stretch:normal;*/
		font-style:normal;
		font-variant:normal;
		font-weight:normal;
		line-height:normal;
		padding:4px 0;
		white-space:nowrap;
}

.tabpanel .tabpanel_nav li.tab_active a.tab_left {
		background-position:0 0;
		margin-bottom:-1px;
		cursor:default;
}

.tabpanel .tabpanel_nav li.tab_active span.tab_text {
		color:#15428B;
		cursor:default;
		font-weight:bold;
		padding-bottom:5px;
}

.tabpanel .tabpanel_nav li.tab_active span.tab_inner {
		background-position:0 -151px;
}

.tabpanel .tabpanel_nav li.tab_active em.tab_right {
		background-position:right -301px;
}



.tabpanel .panels {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #8DB2E3;
	border-top:none;
}

.tabpanel .hiddenTab {
	display:none;
}
.tabpanel .panels .panel{	
	background:transparent url(../images/ebay/tab-strip-bg.gif) repeat-x scroll 0 0;
	color:#474747;
	padding:10px;
}

.tabpanel li.x-tab-strip-closable a.x-tab-strip-close {
	background-image:url(../images/tab-close.gif);
	background-repeat:no-repeat;
	display:block;
	height:11px;
	opacity:0.6;
	text-indent:-10000px;
	filter: alpha(opacity=60);
	position:absolute;
	right:3px;
	top:3px;
	outline:0;
	width:11px;
	z-index:2;
}
.tabpanel ul.tabpanel_nav li.x-tab-strip-closable {
	position:relative;
}

.tabpanel .tabpanel_nav li.x-tab-strip-closable em.tab_right {
	padding-right:20px;
}
.tabpanel li.x-tab-strip-closable a.x-tab-strip-close:hover {
	opacity:1;
	filter: alpha(opacity=100);
}
