/**
LoVe F HAte
**/

/**
link
**/
.ke-triplebutton {
    display: inline-block;
    zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
    *display: inline;
    vertical-align: baseline;
    padding: 2px 4px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    height: 18px;
    text-decoration: none;
    border: 1px solid #A3D7FF;
    margin: 2px;
}

.ke-triplebutton-on {
    background-color: #A3D7FF;
}

.ke-triplebutton-disabled {
    opacity: 0.3;
    filter: alpha(opacity = 30);
    cursor: default;
}

/**
focus
**/
.ke-triplebutton:focus {
}

/**
hover
**/
.ke-triplebutton:hover {
    text-decoration: none;
}

.ke-triplebutton-off:hover {
    background-color: #A3D7FF;
    opacity: 0.7;
    filter: alpha(opacity = 70);
}

.ke-triplebutton-on:hover {
    background-color: #86caff;
}

.ke-triplebutton-disabled:hover {
    background-color: white;
    filter: alpha(opacity = 30);
}

/**
active
**/
.ke-triplebutton:active {
    color: black;
}

