.ke-contextmenu {
    z-index: 10000;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #CCCCCC #666666 #666666 #CCCCCC;
    border-style: solid;
    border-width: 1px;
    cursor: default;
    font: 13px Arial, sans-serif;
    margin: 0;
    outline: medium none;
    padding: 4px 0;
    position: absolute;
    -moz-box-shadow: 3px 3px 3px #808080;
    -webkit-box-shadow: 3px 3px 3px #808080;
    box-shadow: 3px 3px 3px #808080;
}

.ke-contextmenu a {
    display: block;
    color: #000000;
    margin: 0;
    padding: 4px 7em 4px 28px;
    white-space: nowrap;
    text-decoration: none;
}

.ke-contextmenu a:hover {
    background-color: #D6E9F8;
    border-color: #D6E9F8;
    border-style: dotted;
    border-width: 1px 0;
    padding-bottom: 3px;
    padding-top: 3px;
}