.ke-mask {
    background-color: #000000;
    left: 0;
    top: 0;
    border: none;
    position: absolute;
    z-index: 999;
}

.ke-loading {
    position: absolute;
    width: 66px;
    height: 66px;
    left: -9999px;
    top: -9999px;
    line-height: 66px;
    text-align: center;
    z-index: 10000;
    background: url('http://img05.taobaocdn.com/tps/i5/T1wjBGXe4CXXXXXXXX-66-66.gif');
}

.ke-dialog {
    position: absolute;
    z-index: 10001;
    background-color: white;
    border: 2px solid #61b623;
}

.ke-dialog-iframe {
    position: absolute;
    z-index: 9999;
    border: none;
}

.ke-hd-title {
    float: left;
    margin-left: 10px;
}

.ke-hd-x {
    float: right;
    padding: 1px;
    width: 15px;
    text-align: center;
    border: 1px solid #61b623;
    background-color: white;
    margin-right: 10px;
}

.ke-hd-x a {
    display: block;
    text-decoration: none;
    background-color: #68aa50;
    color: white;
    margin: 0;
    font-size: 10px;
}

.ke-hd h1 {
    font-size: 15px;
    font-weight: normal;
}

.ke-hd {
    padding: 3px;
    background: #64991e;
    background: -webkit-gradient(linear, left top, left bottom, from(#84c81d), to(#62a726));
    background: -moz-linear-gradient(top, #84c81d, #62a726);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#84c81d', endColorstr = '#62a726');
    border-bottom: 2px solid #61b623;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

.ke-focus {
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    outline: none;
}