/**
triple state button style for kissy editor
LoVe F HAte
@author:yiminghe@gmail.com
**/

/**
link
**/
.ke-triplebutton {
    color: black;
    display: inline-block;
    zoom: 1;
    *display: inline;
    margin: 2px 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-decoration: none;
    border: 1px solid transparent;
    _border-color: tomato;
    _filter: chroma(color = tomato);
    vertical-align: middle;
    white-space: nowrap;
}

.ke-triplebutton-on {
    border: 1px solid rgb(206, 213, 224);
    background-color: rgb(252, 252, 252);
}

.ke-triplebutton-disabled {
    opacity: 0.3;
    filter: chroma(color = tomato) alpha(opacity = 30);
    cursor: default;
}

/**
focus
**/
.ke-triplebutton:focus {
}

/**
hover
**/
.ke-triplebutton:hover {
    text-decoration: none;
    color: black;
}

.ke-triplebutton-off:hover {
    border: 1px solid rgb(206, 213, 224);
    background-color: rgb(252, 252, 252);
}

.ke-triplebutton-on:hover {
}

.ke-triplebutton-disabled:hover {

    background-color: transparent;
    opacity: 0.3;
    filter: chroma(color = tomato) alpha(opacity = 30);
}

/**
active
**/
.ke-triplebutton:active {
    color: black;
}

.ke-button {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 1px 1px rgb(228, 228, 228);
    -webkit-box-shadow: 0px 1px 1px rgb(228, 228, 228);
    box-shadow: 0px 1px 1px rgb(228, 228, 228);
    border: 1px solid rgb(193, 200, 209);
    background: #e8ebee repeat-x left top;
    background-image: url("ke-button-bg.png");
    padding: 3px 18px;
    _padding-bottom: 2px;
    *padding-bottom: 2px;
}

.ke-button:hover {
    border-color: rgb(232, 204, 160);
    background: #f5e7ce repeat-x left top;
    background-image: url("ke-button-bg-active.png");
}