/**
color plugin style for kissy editor
@author:yiminghe@gmail.com
**/
a.ke-color-a, a.ke-color-remove {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 2px;
    border: 1px solid white;
}

a.ke-color-remove {
    padding: 3px 0;
    margin: 5px;
}

a.ke-color-a:hover, a.ke-color-remove:hover, a.ke-color-selected {
    background-color: #dff1ff;
    border: 1px solid #316ac5;
}

a.ke-color-a span {
    display: block;
    height: 10px;
    width: 10px;
}

.ke-color-wrap {
    height: 136px;
    width: 130px;
}
