.uploadImgEnhancement {
	height:35px;
	padding:10px 0 0px 10px;
	position:fixed;
	top:10px;
	right:10px;
	background-color:yellow;
	width:100px;
}
.windowContainer {
	position:absolute;
}

.window-header-l{
	background-image:url(http://lite-ext.googlecode.com/svn/trunk/lite-ext/base/images/aol/blue_skin.png);

}

.x-tool {
	background-image:url(http://lite-ext.googlecode.com/svn/trunk/lite-ext/base/images/tool-sprites.gif);
	
}

.window-body-mc {
	background-image:url(http://lite-ext.googlecode.com/svn/trunk/lite-ext/base/images/aol/cols_stripe.gif);
	
}
.tabpanel ul,.tabpanel li{
	margin:0;
	padding:0;
}
.tabpanel ul.tabpanel_nav {
	background-image:url(http://lite-ext.googlecode.com/svn/trunk/lite-ext/TabPanelLite/images/tab-strip-bg.gif);
}

.tabpanel .tabpanel_nav li a.tab_left {
	background-image:url(http://lite-ext.googlecode.com/svn/trunk/lite-ext/TabPanelLite/images/tabs-sprite.gif);
}

.tabpanel .tabpanel_nav li em.tab_right {
	background-image:url(http://lite-ext.googlecode.com/svn/trunk/lite-ext/TabPanelLite/images/tabs-sprite.gif);
}

.tabpanel .tabpanel_nav li span.tab_inner {
	background-image:url(http://lite-ext.googlecode.com/svn/trunk/lite-ext/TabPanelLite/images/tabs-sprite.gif);
}

.tabpanel li.x-tab-strip-closable a.x-tab-strip-close {
	background-image:url(http://lite-ext.googlecode.com/svn/trunk/lite-ext/TabPanelLite/images/tab-close.gif);
}

.tabpanel .x-tab-scrolling a.x-tab-scroller-left {
	background-image:url(http://lite-ext.googlecode.com/svn/trunk/lite-ext/TabPanelLite/images/scroll-left.gif);
}

.tabpanel .x-tab-scrolling a.x-tab-scroller-right {
	background-image:url(http://lite-ext.googlecode.com/svn/trunk/lite-ext/TabPanelLite/images/scroll-right.gif);
}
.tabpanel .panels .panel {
	padding:0;
}
a.tool-help {
  background-position:0 -300px;
}
  
a.tool-help:hover {
  background-position:-15px -300px;
}