/**
author :yiminghe
version :v4(20090326)
Any problem contact hym_sunrise@126.com
**/
div.mulTreeContainer {
margin: 0;
padding: 0;
font-size:12px;
}
.mulTreeContainer .dataUlSection {
background-color: white;
padding-top: 10px;
}
.mulTreeContainer h3 {
margin: 0;
padding: 2px 0 0 10px;
font-size: 12px;
font-weight: normal;
background: transparent url(../images/sep.gif) repeat-x scroll center bottom;
margin: 0;
padding: 10px 0 10px 10px;
}
.mulTreeContainer ul,ul.bottomNode {
margin: 0;
padding: 0;
list-style-type: none;
}
ul.bottomNode {
position: absolute;
text-align: left;
border: 2px solid #99BBE8;
z-index: 30000;
background-color: white;
list-style-position: inside;
font-size: 12px;
width: 325px;
}
.mulTreeContainer ul li,ul.bottomNode li {
float: left;
margin: 0;
padding: 1px 0;
width: 160px;
line-height: 1em;
}

.mulTreeContainer ul li .labelText {
	overflow:hidden;
	width:120px;
	float:left;	
}

.mulTreeContainer ul li .labelText input {
	margin:2px 4px;
}

.mulTreeContainer ul li {
cursor: pointer;
}
.mulTreeContainer ul li * {
vertical-align: middle;
}
ul.bottomNode li.level2 {
font-weight: bold;
}
ul.selectedNodes li {
cursor: default ;
padding:4px 0 0 0;
}
.mulTreeContainer li.level1 {
color: #FF7300;
font-weight: bold;
cursor: default ;
}
.mulTreeContainer .highlightExt,ul.bottomNode .highlightExt {
background-color: #FF7300;
color: white;
}
.mulTreeContainer .topSeperator {
padding: 3px;
border-bottom: 1px solid #99BBE8;
}
.mulTreeContainer .selectedNodes {
padding-top: 10px;
}
.mulTreeContainer a.selectedItem {
text-decoration: none;
color: black;
padding: 2px;
}
.mulTreeContainer a.selectedItem:hover {
border: 1px solid #FF7300;
background-color: #FF7300;
color: white;
}
.x-tool-right-arrow {
background-position: 0 -120px;
margin-right: 20px;
margin-top:2px;
display:inline;
}
.highlightExt .x-tool-right-arrow {
background-position: -15px -120px;
}
