/**
for kissy editor iframe
@author:玉伯(lifesinger@gmail.com),yiminghe@gmail.com
**/

/*
iframe body no need to reset
body,*/
h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */
{
    margin: 0;
    padding: 0;
}

/** 设置默认字体 **/
body, button, input, select, textarea /* for ie */
{
    font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

address, cite, dfn, var {
    font-style: normal;
}

/* 将斜体扶正 */
code, kbd, pre, samp {
    font-family: courier new, courier, monospace;
}

em {
    font-style: oblique;
}

/* 统一等宽字体 */
small {
    font-size: 12px;
}

/* 小于 12px 的中文很难阅读，让 small 正常化 */

/** 重置列表元素 **/
ul, ol {
    list-style: none;
}

sup {
    vertical-align: text-top;
}

/* 重置，减少对行高的影响 */
sub {
    vertical-align: text-bottom;
}

/*编辑器内不变色*/
a {
    color: #000099;
}

/** 重置表单元素 **/
legend {
    color: #000;
}

/* for ie6 */
fieldset, img {
    border: 0;
}

/* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea {
    font-size: 100%;
}

/* 使得表单元素在 ie 下能继承字体大小 */
/* 注：optgroup 无法扶正 */

/** 重置表格元素 **/
table {
    border-collapse: separate;
    border-spacing: 1px;
}

/* require(reset.css) */

html {
    /**
     ie6 iframe 内滚动条 bug
    **/
    _overflow-y: scroll;
    _overflow-x: auto;
}

body {
/* big font make content more readable */
    font: 14px/1.8 verdana, tahoma, arial, sans-serif;
}

blockquote, ul, ol, dl {
/* giving blockquotes and lists room to breath */
    margin: 1em;
}

ul, ol, dl {
/* bringing lists on to the page with breathing room */
    margin-left: 2em;
}

ol li {
/* giving OL's LIs generated numbers */
    list-style: decimal outside;
}

ul li {
/* giving UL's LIs generated disc markers */
    list-style: disc outside;
}

dl dd {
/* providing spacing for definition terms */
    margin-left: 1em;
}

th, td {
/* padding to make the table readable */
    padding: .5em;
}

caption {
/* coordinated margin to match cell's padding */
    margin-bottom: .5em;
}

/*编辑器内p不要有间隔了，两个p来出间隔。p,*/
fieldset, table, pre {
/* so things don't run into each other */
    margin-bottom: 1em;
}

ul, ol {
    margin-left: 0;
    padding-left: 40px;
}

img.ke_flash {
    background-image: url("placeholder_flash.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #A9A9A9;
    height: 80px;
    width: 80px;
}

img.ke_music {
    background-image: url("placeholder_music.png");
    background-position: center center;
    background-repeat: no-repeat;
    border: 1px solid #A9A9A9;
    height: 80px;
    width: 80px;
}

