.sliderLite {
	position:relative;
	margin:0;
	padding:0;
	overflow:hidden;
}	
.sliderLite ul,.sliderLite li{
	margin:0;
	padding:0;
	list-style-type:none;
}
.sliderLite .sliderNumbers {
/*	no js no show*/
	display:none;
	position:absolute;
	right:2px;
	bottom:8px;
	overflow:hidden;
	height:21px;
	z-index:10;
}
.sliderNumbers li {
	background:#FFFFFF none repeat scroll 0 0;
	border:1px solid #74A8ED;
	color:#74A8ED;
	cursor:pointer;
	float:left;
	font-size:12px;
	height:15px;
	margin:2px 3px;
	text-align:center;
	width:15px;
	line-height:15px;
}

.sliderNumbers li.current {
	background:#74A8ED none repeat scroll 0 0;
	border:1px solid #EEEEEE;
	color:#FFFFFF;
	font-size:16px;
	font-weight:bold;
	height:19px;
	line-height:19px;
	margin:0 3px;
	width:19px;
}

.sliderLite.js .sliderNumbers {
	display:block;
}
.sliderLite .sliderImages li a img {
	border:none;
	display:block;
	margin:0;
	padding:0;
}
.sliderLite .sliderImages li {
	float:left;
}

.sliderLite .sliderImages.scrollTopImg li {
	float:none;
}

.sliderLite ul.sliderImages li a {
	display:block;
	margin:0;
	padding:0;
}