ul.x-combo-list-inner {
	background:white none repeat scroll 0 0;
	overflow:auto;
}
	
ul.x-combo-list-inner li.x-combo-selected  {
	background:#DFE8F6 none repeat scroll 0 0;
	border:1px dotted #A3BAE9 !important;
}

ul.x-combo-list-inner li {
	border:1px solid #FFFFFF;
	padding:2px;
}

.x-combo-list {
	background:#DDECFE none repeat scroll 0 0;
	border:1px solid #98C0F4;
	overflow:auto;
	z-index:99999;
	position:absolute;
	cursor:pointer;	
}


.x-form-text {
	height:19px;
	background:#FFFFFF url(../images/text-bg.gif) repeat-x scroll 0 0;
	border:1px solid #B5B8C8;
	padding:1px 0 1px 0;
	vertical-align:middle;
}

.x-form-trigger {
	background:transparent url(../images/trigger.gif) no-repeat scroll 0 0;
	border-color:#B5B8C8;
	border-style:solid;
	border-width:0px 0 1px 0;
	cursor:pointer;
	height:22px;
	position:absolute;
	right:0;
	top:0px;
	width:17px;
}

.ext-ie .x-form-trigger{
	top:1px;
}
.x-trigger-wrap-focus .x-form-trigger {
	border-bottom:1px solid #7EADD9;
}
.x-trigger-wrap-focus .x-form-trigger {
	background-position:-51px 0;
}

.x-trigger-wrap {
	vertical-align:middle;
	position:relative;
}
.x-trigger-wrap .x-form-trigger-over {
	background-position:-68px 0;
}
.x-trigger-wrap-focus .x-form-text {
	border:1px solid #7EADD9;
}

.x-trigger-wrap .x-form-trigger-click {
	background-position:-85px 0;
}

.x-trigger-wrap .labelTip {
	color:gray;
	position:absolute;
	z-index:99999;
	left:0;
	top:0;
}