html {}
body {
	min-width: 960px;
	color: #222;
	background: #f9f9f9;
	line-height: 2.0;
	font: normal normal 400 87.5%/1.5 "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 { font-size: 2.000em; line-height: 2.000; } /* 28px, 56px */
h2 { font-size: 1.500em; line-height: 2.000; } /* 21px, 42px */
h3 { font-size: 1.285em; line-height: 1.944; } /* 18px, 35px */
h4 { font-size: 1.143em; line-height: 1.750; } /* 16px, 28px */
h5 { font-size: 1.000em; line-height: 2.000; } /* 14px, 28px */
h6 { font-size: 0.857em; line-height: 2.333; } /* 12px, 28px */

address, blockquote, dl, fieldset, form, ol, p, pre, table, ul {
	margin: 0 0 1.5em 0;
}

dd, li {
	margin: 0.75em 0;
}

dd { margin-left: 20px; }

li { margin-left: 40px; }

ol li { list-style: decimal; }
ul li { list-style: disc; }

em { font-style: italic; }
strong { font-weight: 700; }
small { font-size: smaller; }
big { font-size: larger; }

abbr, acronym {
	cursor: help;
}

input { font-size: 1em; }
textarea { font: normal normal 400 1.000em/1.5 "Lucida Grande", Helvetica, Arial, sans-serif; }

.hidden { display: none; }

.layout {}
.layout:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.section {
	position: relative;
	max-width: 75em;
	margin: 0 auto;
	padding: 14px 20px 28px 20px;
}
