Copyright 2010, KISSY UI Library v1.0.4
MIT Licensed
build: 480 Mar 11 14:06
*/

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font:
    12px/1.5 tahoma,
    arial,
    \5b8b\4f53;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp {
  font-family:
    courier new,
    courier,
    monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
legend {
  color: #000;
}
fieldset,
img {
  border: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#page,
#header,
#content,
#footer {
  margin-left: auto;
  margin-right: auto;
}
.w950 {
  width: 950px;
}
.col-main {
  float: left;
  width: 100%;
  min-height: 1px;
}
.col-sub,
.col-extra {
  float: left;
}
.layout:after,
.main-wrap:after,
.col-sub:after,
.col-extra:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.layout,
.main-wrap,
.col-sub,
.col-extra {
  *zoom: 1;
}

/*
    �޸�IE6��window.onload��domreadyʱ�ظ�����SpritesͼƬ��Bug,h
    ref: http://ued.taobao.com/blog/2010/05/17/ie6-duplicate-load-bug/
*/
html {
  zoom: expression(
    function(ele){ele.style.zoom = '1' ;
      document.execCommand('BackgroundImageCache', false, true) ; }(this)
  );
}

/*
SiteNav Styles
by ��ǫ (yunqian@taobao.com)
*/

/* Sprites: {{{ */
#site-nav,
#site-nav .quick-menu li,
#site-nav .search .menu-hd s,
#site-nav .quick-menu .cart s,
#site-nav .search .menu-bd button {
  background: transparent
    url(http://img02.taobaocdn.com/tps/i2/T1CCRNXmRFXXXXXXXX.png) no-repeat
    999em 0;
}
/* }}} */

/* ����: =SiteNav {{{ */
#site-nav {
  background-color: #f5f5f5;
  width: auto;
  min-width: 950px;
  border-bottom: 1px solid #dcdcdc;
}

#site-nav-bd {
  position: relative;
  width: 950px;
  margin: 0 auto;
  height: 21px;
  line-height: 22px;
  margin: 0 auto;
  padding: 3px 0;
  z-index: 10000;
  color: #000;
}

#site-nav a {
  color: #666;
}
#site-nav a:hover {
  color: #ff6600;
}
/* }}} */

/* ��½��Ϣ: =LoginInfo {{{ */
#site-nav .login-info {
  float: left;
}
#site-nav .login-info a {
  margin-right: 8px;
}
#site-nav .login-info a.user-nick {
  margin-right: 0;
  color: #0b72a4;
}
/* }}} */

/* ��ݲ˵�: =QuickMenu {{{ */
#site-nav .quick-menu {
  position: absolute;
  right: 0;
  top: 1px;
  *top: 2px;
}
#site-nav .quick-menu li {
  float: left;
  margin-left: -1px;
  padding: 1px 10px 0 10px;
  background-position: right 6px;
}
#site-nav .quick-menu li.last {
  background: none;
}
#site-nav .quick-menu li.menu-item {
  position: relative;
  padding: 1px 0 0;
}
#site-nav .quick-menu .cart {
  position: relative;
  padding: 0;
}
#site-nav .quick-menu .cart a {
  display: block;
  width: 36px;
  color: #f50;
  border: 1px solid #f5f5f5;
  height: 17px;
  line-height: 17px;
  margin-top: 3px;
  *margin-top: 2px;
  padding-left: 25px;
  padding-right: 6px;
  padding-top: 0\9;
}
#site-nav .quick-menu .cart s {
  background: url(http://img02.taobaocdn.com/tps/i2/T1Fz14XcBXXXXXXXXX-20-40.png)
    no-repeat;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0px;
  top: 2px;
}
#site-nav .quick-menu #mc-menu-hd s {
  top: -2px;
}
#site-nav .quick-menu .hover #mc-menu-hd s,
#site-nav .quick-menu .cart #mc-menu-hd:hover s {
  background-position: 0 -20px;
}
#site-nav .quick-menu .cart #mc-menu-hd:hover b {
  border-color: #666 white white white;
}

/* �˵�����: =MenuHD {{{ */
#site-nav .menu-hd {
  display: block;
  position: relative;
  height: 20px;
  line-height: 17px;
  margin: 3px 1px 0;
  padding: 0 22px 0 10px;
  padding-top: 1px\9;
  *padding-top: 0;
  cursor: pointer;
  z-index: 10002;
}
#site-nav .mytaobao .menu-hd {
  width: 48px;
}
#site-nav .favorite .menu-hd {
  width: 36px;
}
#site-nav .search .menu-hd {
  width: 24px;
}
#site-nav .services .menu-hd {
  width: 48px;
}
#site-nav .menu-hd b {
  position: absolute;
  right: 10px;
  top: 7px;
  width: 0;
  height: 0;
  border-width: 4px 4px;
  border-style: solid;
  border-color: #666 #f5f5f5 #f5f5f5;
  font-size: 0;
  line-height: 0;
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
}
#site-nav .search .menu-hd {
  padding-left: 25px;
  color: #666;
}
#site-nav .search .menu-hd s {
  position: absolute;
  left: 9px;
  top: 3px;
  *top: 2px;
  _top: 3px;
  width: 14px;
  height: 13px;
  background-position: -67px -20px;
}
/* }}} */

/* �˵�����: =MenuBD {{{ */
#site-nav .menu-bd {
  display: none;
  position: absolute;
  right: 0;
  top: 20px;
  top: 21px\9;
  *top: 20px;
  background: #fff;
  border: 1px solid #bfbfbf;
  z-index: 10001;
}
#site-nav .search .menu-bd {
  _right: -1px;
}
#site-nav iframe.menu-bd {
  border: 0;
  background: none;
  filter: alpha(opacity=0);
  float: left;
  z-index: -1;
}
/* }}} */

/* �˵�BD���Panel {{{ */
#site-nav .menu-bd-panel {
  padding: 10px 10px 6px;
}
/* }}} */

/* �˵�������չ�� {{{ */
#site-nav .menu-item-opp .menu-bd {
  left: 0;
}
#site-nav .menu-item-opp .menu-bd s.rt {
  left: 0;
}
#site-nav .menu-item-opp .menu-bd s.lt {
  left: auto;
  right: -2px;
  background-position: -87px -55px;
}
/* }}} */

/* �����˵� hover ״̬ {{{ */
#site-nav .menu {
  position: relative;
}
#site-nav .hover .menu-hd {
  margin: 2px 0 0;
  border: 1px solid #bfbfbf;
  border-bottom: none;
  background: white;
}

#site-nav .hover .menu-bd {
  display: block;
}
#site-nav .hover .menu-hd b {
  border-color: #666 #fff #fff #fff;
  -moz-transform: rotate(180deg);
  -moz-transform-origin: 50% 30%;
  -webkit-transform: rotate(180deg);
  -webkit-transform-origin: 50% 30%;
  -o-transform: rotate(180deg);
  -o-transform-origin: 50% 30%;
  transform: rotate(180deg);
  transform-origin: 50% 30%;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  top: 3px\9;
}
/* }}} */

/* �ҵ��Ա������˵� & �ղؼ������˵� {{{ */
#site-nav .mytaobao .menu-bd,
#site-nav .favorite .menu-bd {
  height: 57px;
  line-height: 1.7;
}
#site-nav .mytaobao .menu-bd {
  width: 94px;
}
#site-nav .favorite .menu-bd {
  width: 82px;
}
#site-nav .mytaobao .menu-bd-panel,
#site-nav .favorite .menu-bd-panel {
  padding: 8px 10px;
}

/* ���������˵� {{{ */
#site-nav .search .menu-bd {
  width: 204px;
  height: 66px;
}
#site-nav .search .menu-bd input {
  width: 180px;
  border: 1px solid;
  border-color: #878787 #b7b7b7 #b7b7b7 #878787;
  line-height: 13px;
  padding: 3px 1px 2px;
  float: left;
  margin-bottom: 5px;
}
#site-nav .search .menu-bd button {
  width: 66px;
  height: 24px;
  border: 0;
  color: #fff;
  background-position: 0 -20px;
  cursor: pointer;
  float: left;
}
/* }}} */

/* ��վ�������� {{{ */
#site-nav .services .menu-bd {
  width: 174px;
  height: 218px;
  background: #fff
    url(http://img02.taobaocdn.com/tps/i2/T16WJqXaXeXXXXXXXX-32-32.gif)
    no-repeat 50% 50%;
  overflow: hidden;
}
#site-nav .services .menu-bd-panel {
  padding: 5px 10px;
  background-color: #fff;
}
#site-nav .services .menu-bd dl {
  border-bottom: 1px solid #e5e5e5;
  padding: 5px 0;
}
#site-nav .services .menu-bd .last {
  border: 0;
}
#site-nav .services .menu-bd .last dd {
  background: url(http://img02.taobaocdn.com/tps/i2/T1Xki0XoFqXXXXXXXX-4-8.png)
    56px 5px no-repeat;
  width: 60px;
}
#site-nav .services .menu-bd dt {
  line-height: 1.5;
  font-weight: bold;
  color: #8c8c8c;
  text-align: left; /* fixed center bug by yubo 2010.04.07 */
}
#site-nav .services .menu-bd dt a {
  color: #057bd2;
}
#site-nav .services .menu-bd dt a,
#site-nav .services .menu-bd dd a {
  white-space: nowrap;
}
#site-nav .services .menu-bd dd {
  line-height: 1.6;
  text-align: left; /* fixed center bug by yubo 2010.04.07 */
}
#site-nav .services .menu-bd dd span {
  color: #8c8c8c;
}
/* }}} */

/* �°��û� VIP: = user-vip {{{ by ���� */
/* 2011-12-28 */

#site-nav .login-info .vip-areas {
  position: relative;
}

#site-nav .login-info .vip-areas .vip-content-show {
  display: block !important;
}

#site-nav .login-info .vip-areas:hover .vip-content,
#site-nav .login-info .vip-areas-hover .vip-content {
  display: block;
}

#site-nav .login-info .vip-icon0,
#site-nav .login-info .vip-icon1,
#site-nav .login-info .vip-icon2,
#site-nav .login-info .vip-icon3,
#site-nav .login-info .vip-icon4,
#site-nav .login-info .vip-icon5,
#site-nav .login-info .vip-icon6,
#site-nav .login-info .vip-content b,
#site-nav .login-info .vip-content .vip-toy-icon1,
#site-nav .login-info .vip-content .vip-toy-icon2,
#site-nav .login-info .vip-content .vip-toy-icon3,
#site-nav .login-info .vip-content .vip-toy-icon4,
#site-nav .login-info .vip-content .vip-toy-icon5,
#site-nav .login-info .vip-content .vip-toy-icon6,
#site-nav .login-info .vip-content b,
#site-nav .login-info .vip-content .vip-my-level a,
#site-nav .login-info .vip-content .vip-my-service {
  background: url(http://img01.taobaocdn.com/tps/i1/T1FyOKXeRsXXXXXXXX-56-625.png)
    no-repeat;
}

#site-nav .login-info .vip-icon7 {
  background: url(http://img04.taobaocdn.com/tps/i4/T1KxCMXeNjXXXXXXXX-14-14.gif)
    no-repeat;
}

#site-nav .login-info .vip-icon0,
#site-nav .login-info .vip-icon1,
#site-nav .login-info .vip-icon2,
#site-nav .login-info .vip-icon3,
#site-nav .login-info .vip-icon4,
#site-nav .login-info .vip-icon5,
#site-nav .login-info .vip-icon6,
#site-nav .login-info .vip-icon7 {
  display: inline-block;
  position: relative;
  width: 14px;
  height: 14px;
  margin: 0 6px 0 -1px;
  z-index: 10002;
  top: 3px;
  +top: 0px; /*hack for IE7*/
  _margin-top: 3px; /*hack for IE6*/
}
#site-nav .login-info .vip-icon0 {
  background-position: 0 -448px;
}
#site-nav .login-info .vip-icon1 {
  background-position: 0 -468px;
}
#site-nav .login-info .vip-icon2 {
  background-position: 0 -488px;
}
#site-nav .login-info .vip-icon3 {
  background-position: 0 -508px;
}
#site-nav .login-info .vip-icon4 {
  background-position: 0 -528px;
}
#site-nav .login-info .vip-icon5 {
  background-position: 0 -548px;
}
#site-nav .login-info .vip-icon6 {
  background-position: 0 -568px;
}

#site-nav .login-info .vip-content {
  display: none;
  width: 178px;
  height: 82px;
  border: 1px solid #ded9bf;
  background-color: #fcfbe5;
  position: absolute;
  top: 19px;
  left: -8px;
}

#site-nav .login-info .vip-content b {
  width: 70px;
  height: 7px;
  background-position: -41px 0px;
  display: block;
  position: absolute;
  top: -7px;
  left: 6px;
  _overflow: hidden; /*Hack for IE6 about height*/
}

#site-nav .login-info .vip-content .vip-toy-icon1,
#site-nav .login-info .vip-content .vip-toy-icon2,
#site-nav .login-info .vip-content .vip-toy-icon3,
#site-nav .login-info .vip-content .vip-toy-icon4,
#site-nav .login-info .vip-content .vip-toy-icon5,
#site-nav .login-info .vip-content .vip-toy-icon6 {
  display: block;
  float: left;
  height: 56px;
  width: 37px;
  margin: 12px 10px 5px 10px;
  _display: inline;
}
#site-nav .login-info .vip-content .vip-toy-icon6 {
  background-position: 0 0;
}
#site-nav .login-info .vip-content .vip-toy-icon5 {
  background-position: 0 -60px;
}
#site-nav .login-info .vip-content .vip-toy-icon4 {
  background-position: 0 -120px;
}
#site-nav .login-info .vip-content .vip-toy-icon3 {
  background-position: 0 -180px;
}
#site-nav .login-info .vip-content .vip-toy-icon2 {
  background-position: 0 -240px;
}
#site-nav .login-info .vip-content .vip-toy-icon1 {
  background-position: 0 -300px;
}

#site-nav .login-info .vip-content .vip-my-level {
  display: block;
  float: left;
  height: 20px;
  width: 100px;
  margin-top: 10px;
  overflow: hidden;
}

#site-nav .login-info .vip-content .vip-my-level a {
  display: block;
  height: 14px;
  width: 38px;
  margin: -19px 10px 5px 60px;
}
#site-nav .login-info .vip-content .vip-my-power {
  color: #0092d2;
  display: block;
  float: left;
  width: 96px;
  height: 22px;
}
#site-nav .login-info .vip-content .vip-my-service {
  width: 51px;
  height: 16px;
  background-position: 0px -608px;
  display: block;
  float: left;
  margin-top: 4px;
}
#site-nav .login-info .vip-content .vip-my-level .vip-my-level0 {
  background-position: -18px -448px;
}
#site-nav .login-info .vip-content .vip-my-level .vip-my-level1 {
  background-position: -18px -468px;
}
#site-nav .login-info .vip-content .vip-my-level .vip-my-level2 {
  background-position: -18px -488px;
}
#site-nav .login-info .vip-content .vip-my-level .vip-my-level3 {
  background-position: -18px -508px;
}
#site-nav .login-info .vip-content .vip-my-level .vip-my-level4 {
  background-position: -18px -528px;
}
#site-nav .login-info .vip-content .vip-my-level .vip-my-level5 {
  background-position: -18px -548px;
}
#site-nav .login-info .vip-content .vip-my-level .vip-my-level6 {
  background-position: -18px -568px;
}
/* }}} */

/* ȫ���°���������� VIP: = user-vip {{{ by ���� */
/* 2012-06-19 */
#site-nav .login-info .user {
  float: left;
}

#site-nav .login-info .user .vip-head .user-nick {
  margin-right: 4px;
}

#site-nav .login-info .user .vip-head {
  float: left;
  overflow: hidden;
  height: 19px;
  line-height: 1;
  +line-height: 18px;
  top: 1px;
  border: 1px solid whiteSmoke;
  padding: 0 16px 0 8px;
  margin-left: -10px;
  position: relative;
  z-index: 2;
  zoom: 1;
}

#site-nav .login-info .user-special .vip-head-special {
  top: 2px;
  height: 16px;
  padding-top: 2px;
}

#site-nav .login-info .user-hover .vip-head,
#site-nav .login-info .user .vip-head:hover {
  border: 1px solid #bfbfbf;
  background: white;
  border-bottom: 0;
  padding-left: 9px;
  margin-left: -11px;
}

#site-nav .login-info .user-hover .vip-head-special {
}

#site-nav .login-info .user .vip-head b {
  position: absolute;
  right: 6px;
  top: 8px;
  *top: 7px;
  width: 0;
  height: 0;
  border-width: 4px 4px;
  border-style: solid;
  border-color: #666 whiteSmoke whiteSmoke;
  font-size: 0;
  line-height: 0;
  -moz-transition: -moz-transform 0.2s ease-in;
  -o-transition: -o-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
}

#site-nav .login-info .user-special .vip-head b {
  top: 6px;
}

#site-nav .login-info .user-hover .vip-head b {
  border-color: #666 white white white;
  -moz-transform: rotate(180deg);
  -moz-transform-origin: 50% 30%;
  -webkit-transform: rotate(180deg);
  -webkit-transform-origin: 50% 30%;
  -o-transform: rotate(180deg);
  -o-transform-origin: 50% 30%;
  transform: rotate(180deg);
  transform-origin: 50% 30%;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  *top: 4px;
  top: 4px \0/;
  zoom: 1;
  z-index: 2\0/; /*hack for ie8 disppear*/
}

#site-nav .login-info .user-hover .vip-head-special b {
  *top: 3px;
  top: 3px \0/;
}

#site-nav .login-info .user .vip-content {
  display: none;
  width: 260px;
  height: 150px;
  border: 1px solid #bfbfbf;
  background-color: white;
  position: absolute;
  top: 20px;
  left: -11px;
  overflow: hidden;
}

#site-nav .login-info .user-hover .vip-content {
  display: block;
}
#site-nav .login-info .user .vip-content .avatar {
  float: left;
  width: 80px;
  height: 80px;
  margin: 10px;
  border: 0;
  padding: 0;
}
#site-nav .login-info .user .vip-content .vip-operate {
  float: left;
  width: 90px;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 64px;
}
#site-nav .login-info .user .vip-content .vip-operate a {
  color: #0b72a4;
  background: transparent
    url(http://img02.taobaocdn.com/tps/i2/T1CCRNXmRFXXXXXXXX.png) no-repeat
    right 2px;
  +background-position: right 0px;
  _background-position: right 2px;
  padding-right: 9px;
  margin-right: 7px;
}
#site-nav .login-info .user .vip-content .vip-my-level {
  height: 17px;
  margin-top: 7px;
  margin-bottom: 2px;
}
#site-nav .login-info .user .vip-content .vip-my-level .vip-my-level7 {
  background: url(http://img04.taobaocdn.com/tps/i4/T1KxCMXeNjXXXXXXXX-14-14.gif)
    no-repeat;
}

#site-nav .login-info .user .vip-content .vip-my-level a {
  margin: 0;
}
#site-nav .login-info .user .vip-content .vip-my-power {
  color: #3e3e3e;
  font-weight: bold;
  width: 118px;
}
#site-nav .login-info .user-special .vip-content .vip-my-power {
  margin-bottom: 10px;
}
#site-nav .login-info .user .vip-content .vip-my-service {
  background: none;
  margin-top: -4px;
  color: #3e3e3e;
  width: 118px;
}
#site-nav .login-info .user .vip-content .vip-medal {
  margin: 0 10px;
  clear: both;
  float: left;
  width: 240px;
  padding: 6px 0px 4px;
  height: 40px;
  position: relative;
  overflow: hidden;
  border-top: 1px solid #eaeaea;
}
#site-nav .login-info .user .vip-content .vip-loading {
  background: url(http://img03.taobaocdn.com/tps/i3/T1b1m3XkVpXXXXXXXX-32-32.gif)
    no-repeat 50% 50%;
}
#site-nav .login-info .user .vip-content .vip-medal .vip-medalgroup {
  display: block;
  float: left;
  width: 205px;
  height: 40px;
  overflow: hidden;
  position: relative;
}
#site-nav
  .login-info
  .user
  .vip-content
  .vip-medal
  .vip-medalgroup
  .vip-medal-content {
  white-space: nowrap;
  display: block;
  float: left;
  height: 40px;
  position: absolute;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
#site-nav .login-info .user .vip-content .vip-medal .vip-medalgroup a {
  height: 36px;
  width: 36px;
  margin-top: 2px;
  float: left;
  margin-right: 5px;
}
#site-nav .login-info .user .vip-content .vip-medal .vip-step {
  position: absolute;
  right: 0px;
  top: 18px;
  padding-left: 1px;
  background: white;
}
#site-nav .login-info .user .vip-content .vip-medal .vip-step a {
  cursor: pointer;
  float: left;
  width: 14px;
  height: 12px;
  border: 1px solid #d8d8d8;
  margin: 0 0 0 -1px;
}

#site-nav .login-info .user .vip-content .vip-medal .vip-step .arrow,
.arrow s {
  position: absolute;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  border: dashed 4px;
}
#site-nav .login-info .user .vip-content .vip-medal .vip-step .arrow-lthin,
.arrow-lthin s {
  border-color: transparent #666 transparent transparent;
  border-right-style: solid;
  top: 3px;
}
#site-nav .login-info .user .vip-content .vip-medal .vip-step .arrow-rthin,
.arrow-rthin s {
  border-color: transparent transparent transparent #666;
  border-left-style: solid;
  top: 3px;
  right: 1px;
}
#site-nav
  .login-info
  .user
  .vip-content
  .vip-medal
  .vip-step
  a:hover
  .arrow-lthin,
.arrow-lthin s {
  border-color: transparent #f50 transparent transparent;
}
#site-nav
  .login-info
  .user
  .vip-content
  .vip-medal
  .vip-step
  a:hover
  .arrow-rthin,
.arrow-rthin s {
  border-color: transparent transparent transparent #f50;
}

#site-nav .login-info .user .vip-content .vip-medal .vip-step .arrow-rthin s {
  border-left-color: #fafafa;
  left: -6px;
  top: -4px;
}
#site-nav .login-info .user .vip-content .vip-medal .vip-step .arrow-lthin s {
  border-right-color: white;
  right: -6px;
  top: -4px;
}
#site-nav .login-info .user .vip-login {
  display: none;
  border: 1px solid #bfbfbf;
  position: absolute;
  width: 260px;
  height: 170px;
  top: 16px;
  left: -11px;
  background: white;
}
#site-nav .login-info .user .vip-login .vip-login-back {
  border: 1px solid #bfbfbf;
  background: #fafafa;
  font-size: 12px;
  padding: 2px 5px 2px 15px;
  _padding: 3px 5px 1px 15px;
  position: relative;
  right: -200px;
  top: 15px;
  margin-right: 10px;
}
#site-nav .login-info .user .vip-login .vip-login-back .arrow {
  top: 6px;
  left: 3px;
}
#site-nav .login-info .user .vip-login iframe {
  position: relative;
  top: 20px;
}

/* }}} */

/* Mini ���ﳵ: =mini-cart {{{ by heisan */

/*�޸�������mini-cart.js���µ���ʽ����*/
#site-nav .quick-menu .cart {
  margin-left: 0;
  padding-right: 1px;
}
#site-nav .quick-menu .mini-cart {
  margin-left: -1px;
  padding-right: 0px;
}
/*end*/

#site-nav .quick-menu .mini-cart #mc-menu-hd {
  position: relative;
  color: #666;
  width: 66px;
  height: 18px;
  line-height: 17px;
  line-height: 18px\9;
  _line-height: 19px;
  padding-right: 16px;
  overflow: hidden;
  margin: 3px 0 0 0;
  *margin: 2px 0 0 0;
}
#site-nav .quick-menu .mini-cart b.leftline,
#site-nav .quick-menu .mini-cart b.rightline {
  width: 1px;
  position: absolute;
  border-left: 1px solid #bfbfbf;
  height: 12px;
  display: block;
  top: 6px;
  z-index: 10002;
  left: 0px;
  overflow: hidden;
}
#site-nav .quick-menu .mini-cart b.rightline {
  left: 108px;
}
#site-nav .quick-menu .mini-cart-no-layer b.rightline {
  left: 98px;
}

#site-nav .quick-menu #mc-menu-hd:hover {
  color: #f50;
  text-decoration: none;
  background: white;
  border: 1px solid #bfbfbf;
}
#site-nav .quick-menu .hover #mc-menu-hd {
  height: 20px;
  height: 21px\9;
  text-decoration: none;
  border: 1px solid #bfbfbf;
  background: white;
  border-bottom: none;
}
#site-nav .quick-menu .hover #mc-menu-hd:hover {
  _border-bottom: none; /*hack for ie6*/
}
#site-nav .quick-menu .mini-cart-no-layer #mc-menu-hd {
  padding-right: 6px;
}

#site-nav .quick-menu .mini-cart #mc-menu-hd .mc-count {
  color: #f50;
  padding: 0 1px;
  font-weight: bold;
  font-family: 'simsun';
}
#site-nav .quick-menu .mini-cart #mc-menu-hd .mc-pt3 {
  padding: 0 3px;
}
#site-nav .quick-menu .mini-cart #mc-menu-hd b {
  right: 6px;
}
#site-nav .quick-menu .mini-cart a .mini-cart-line {
  position: absolute;
  display: block;
  top: 15px;
  left: 22px;
  width: 65px;
  height: 0;
  line-height: 0;
  font-size: 0;
  border-bottom: 1px solid #f5f5f5;
}
#site-nav .quick-menu .hover a .mini-cart-line {
  border-bottom-color: white;
}
#site-nav .quick-menu .mini-cart a:hover .mini-cart-line {
  border-bottom-color: #f50;
}

#site-nav .quick-menu .mini-cart .mini-cart-content a {
  display: inline;
  position: static;
  height: auto;
  line-height: 1.5;
  width: auto;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}
#site-nav .quick-menu .mini-cart .menu-bd {
  top: 22px;
  top: 23px\9;
  *top: 22px;
  left: 0;
  width: 282px;
  padding: 0 10px 10px;
  overflow: hidden;
  border: 1px solid #bfbfbf;
  background: white;
  font-size: 12px;
  background: url('http://img02.taobaocdn.com/tps/i2/T16WJqXaXeXXXXXXXX-32-32.gif')
    no-repeat scroll 50% 50% #fff;
  height: 40px;
}

#site-nav .quick-menu .mini-cart .mini-cart-ready {
  background: #fff;
  height: auto;
}

#site-nav .quick-menu .mini-cart .mini-cart-content .mini-cart-hd {
  padding: 10px 0;
  font-weight: bold;
}

#site-nav .quick-menu .mini-cart .mini-cart-content .mini-cart-bd {
  border-bottom: 1px solid #f2f2f2;
}
#site-nav .quick-menu .mini-cart .mini-cart-content .mini-cart-bd li {
  float: none;
  height: 40px;
  margin: 0;
  padding: 0 0 10px;
  background: none;
  clear: both;
  overflow: hidden;
}
#site-nav .quick-menu .mini-cart .mini-cart-content .mini-cart-bd a,
#site-nav .quick-menu .mini-cart .mini-cart-content .mini-cart-bd a:link,
#site-nav .quick-menu .mini-cart .mini-cart-content .mini-cart-bd a:visited,
#site-nav .quick-menu .mini-cart .mini-cart-content .mini-cart-ft,
#site-nav .quick-menu .mini-cart .mini-cart-content .mini-cart-hd {
  color: #3e3e3e;
}
#site-nav .quick-menu .mini-cart .mini-cart-content .mini-cart-bd a:hover,
#site-nav .quick-menu .mini-cart .mini-cart-content .mini-cart-bd a:active,
#site-nav
  .quick-menu
  .mini-cart
  .mini-cart-content
  .mini-cart-bd
  .mini-cart-del
  a:hover,
#site-nav
  .quick-menu
  .mini-cart
  .mini-cart-content
  .mini-cart-bd
  .mini-cart-del
  a:active {
  color: #f50;
}

#site-nav
  .quick-menu
  .mini-cart
  .mini-cart-content
  .mini-cart-bd
  .mini-cart-img {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  float: left;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  overflow: hidden;
  text-align: center;
}
#site-nav
  .quick-menu
  .mini-cart
  .mini-cart-content
  .mini-cart-bd
  .mini-cart-img
  img {
  vertical-align: middle;
}
#site-nav
  .quick-menu
  .mini-cart
  .mini-cart-content
  .mini-cart-bd
  .mini-cart-info {
  color: #999;
}
#site-nav
  .quick-menu
  .mini-cart
  .mini-cart-content
  .mini-cart-bd
  .mini-cart-count,
#site-nav
  .quick-menu
  .mini-cart
  .mini-cart-content
  .mini-cart-bd
  .mini-cart-del {
  float: right;
  margin-left: 8px;
}
#site-nav
  .quick-menu
  .mini-cart
  .mini-cart-content
  .mini-cart-bd
  .mini-cart-count {
  color: #999;
  font-family: arial, verdana;
}
#site-nav
  .quick-menu
  .mini-cart
  .mini-cart-content
  .mini-cart-bd
  .mini-cart-del {
  clear: both;
  margin-top: -20px;
}
#site-nav
  .quick-menu
  .mini-cart
  .mini-cart-content
  .mini-cart-bd
  .mini-cart-info
  span {
  margin-right: 6px;
}
#site-nav
  .quick-menu
  .mini-cart
  .mini-cart-content
  .mini-cart-bd
  .mini-cart-del
  a,
#site-nav
  .quick-menu
  .mini-cart
  .mini-cart-content
  .mini-cart-bd
  .mini-cart-del
  a:link,
#site-nav
  .quick-menu
  .mini-cart
  .mini-cart-content
  .mini-cart-bd
  .mini-cart-del
  a:visited {
  color: #0092d2;
}
#site-nav
  .quick-menu
  .mini-cart
  .mini-cart-content
  .mini-cart-bd
  .mini-cart-info,
#site-nav
  .quick-menu
  .mini-cart
  .mini-cart-content
  .mini-cart-bd
  .mini-cart-title {
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}
#site-nav
  .quick-menu
  .mini-cart
  .mini-cart-content
  .mini-cart-bd
  .mini-cart-title
  a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  width: 160px;
}
#site-nav .quick-menu .mini-cart .mini-cart-content .mini-cart-ft {
  font-weight: bold;
  text-align: right;
}
#site-nav .quick-menu .mini-cart .mini-cart-content .mini-cart-ft,
#site-nav .quick-menu .mini-cart .mini-cart-content .mini-cart-bt {
  padding-top: 8px;
}
#site-nav .quick-menu .mini-cart .mini-cart-content .mini-cart-bt {
  color: #c33;
  height: 20px;
  overflow: hidden;
  clear: both;
}
#site-nav .quick-menu .mini-cart .mini-cart-content .mini-cart-bt a {
  background: transparent
    url(http://img02.taobaocdn.com/tps/i2/T1lxl1XcNGXXXXXXXX-113-50.png)
    no-repeat -9999px -9999px;
}
#site-nav .quick-menu .mini-cart .mini-cart-content .mini-cart-bt a {
  float: right;
  display: inline-block;
  *zoom: 1;
  height: 20px;
  height: 22px\9;
  line-height: 19px;
  line-height: 22px\9;
  _line-height: 21px;
  width: 113px;
  text-align: center;
  color: white;
  background-position: 0 0;
  background-color: white;
  margin: 0 0 0 10px;
  padding: 0;
  border: none;
}
#site-nav .quick-menu .mini-cart .mini-cart-content .mini-cart-bt a:link,
#site-nav .quick-menu .mini-cart .mini-cart-content .mini-cart-bt a:visited,
#site-nav .quick-menu .mini-cart .mini-cart-content .mini-cart-bt a:hover,
#site-nav .quick-menu .mini-cart .mini-cart-content .mini-cart-bt a:active {
  color: white;
}
#site-nav .quick-menu .mini-cart .mini-cart-content .mini-cart-price {
  margin-left: 4px;
  color: #f60;
}

#site-nav .quick-menu .mini-cart .mini-cart-content .mini-cart-bt a:hover {
  text-decoration: none;
  color: white !important;
}
#site-nav .quick-menu .mini-cart .mini-cart-content strong {
  font-weight: bold;
}
/* }}} */

/* ϵͳ����: =gb-msg-notice {{{ */
#gb-msg-notice {
  position: absolute;
  left: -9999px;
  top: 0;
  padding: 5px 20px 5px 5px;
  border: 1px solid #febf90;
  background-color: #fff8d9;
  color: #404040;
}
#gb-msg-notice a {
  color: #36c;
}

#gb-msg-notice a:hover {
  color: #f60;
}

#gb-msg-notice .gb-msg-info {
  padding-left: 20px;
  background: transparent
    url(http://img04.taobaocdn.com/tps/i4/T1LjukXmNrXXXXXXXX-16-29.png) 0 3px
    no-repeat;
}
#gb-msg-notice .gb-msg-icon {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  font-size: 0;
}
#gb-msg-notice .gb-msg-close {
  right: 5px;
  top: 10px;
  width: 9px;
  height: 9px;
  background: transparent
    url(http://img04.taobaocdn.com/tps/i4/T1LjukXmNrXXXXXXXX-16-29.png) 0 -20px no-repeat;
  cursor: pointer;
}
#gb-msg-notice .gb-msg-tri,
#gb-msg-notice .gb-msg-tri-inner {
  border-top: 4px dashed transparent;
  border-right: 4px dashed transparent;
  border-bottom: 4px solid #febf90;
  border-left: 4px solid #febf90;
  left: 20px;
  top: -8px;
}
#gb-msg-notice .gb-msg-tri-inner {
  border-bottom-color: #fff8d9;
  border-left-color: #fff8d9;
  left: -3px;
  top: -2px;
}

/* }}} */

/* ϵͳ����: =SystemAnnounce {{{ */
#system-announce {
  clear: both;
  line-height: 18px;
  padding: 8px 0;
  border: 1px solid #eee;
  background-color: #f6f6f6;
  text-align: center;
  font-weight: bold;
  color: #f30;
}
/* }}} */

/* mobile {{{ */
.sitenav-mobile {
  float: left;
  background: url(http://img02.taobaocdn.com/tps/i2/T1CCRNXmRFXXXXXXXX.png)
    no-repeat right 6px;
  padding: 0 10px 0 0;
  margin-right: 10px;
}
.sitenav-mobile a {
  background: url(http://img02.taobaocdn.com/tps/i2/T1lcyQXnJaXXXXXXXX-16-16.png)
    no-repeat 0 3px;
  padding-left: 18px;
  float: left;
}
/* }}} */

/* ȫ��ҳ�� {{{ */
.g_foot {
  width: 960px;
  margin: 0 auto;
  font:
    12px/1.5 tahoma,
    arial,
    ����b8b\4f53;
  padding: 7px 0 9px;
  color: #b0b0b0;
  text-align: left !important;
  position: relative;
  clear: both;
}
.g_foot a {
  margin: 0 4px;
  color: #3e3e3e;
  text-decoration: none;
}
.g_foot a:hover {
  color: #f60;
  text-decoration: underline;
}
.g_foot-ali {
  margin-right: 100px;
  padding-left: 0;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 8px;
  height: 18px;
}
.g_foot-nohover {
  cursor: default;
}
.g_foot-nohover:hover {
  color: #3e3e3e !important;
  text-decoration: none !important;
}
.g_foot-ali a,
.g_foot-ali b {
  float: left;
}
.g_foot-ali b {
  margin: 0 4px;
  color: #d3d3d3;
  font-weight: normal;
  *margin-top: -1px;
  margin-top: -1px \0/;
}
.g_foot-nav {
  margin-top: 8px;
  line-height: 20px;
}
.g_foot-nav span {
  margin-left: 50px;
}
.g_foot-toy {
  position: absolute;
  background: url(http://img01.taobaocdn.com/tps/i1/T1MMPaXkNjXXaXezbh-48-70.png)
    no-repeat;
  _background: url(http://img01.taobaocdn.com/tps/i1/T1XgzaXX0kXXaXezbh-48-70.png)
    no-repeat;
  width: 69px;
  height: 100px;
  display: block;
  right: 0px;
  top: 0px;
}
/* IE9 only */
:root .g_foot-toy {
  right: -20px\9;
}
.g_foot-line {
  display: none;
  position: absolute;
  background: url(http://img01.taobaocdn.com/tps/i1/T1I_56Xl0wXXXXXXXX-104-1.png)
    no-repeat;
  width: 104px;
  height: 1px;
  right: 45px;
  top: 33px;
}

.footer-more {
  cursor: pointer;
  z-index: 1;
  position: relative;
  padding-top: 1px;
  width: 82px;
  float: left;
  *top: -1px;
  top: -2px \0/;
}
.footer-more-trigger {
  position: absolute;

  padding: 6px 11px 4px 14px;
  width: 37px;
  line-height: 1.3;
  border: 1px solid #fff;
  left: -12px;
  top: -5px;
}

.footer-more-trigger .arrow {
  position: absolute;
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
  border: dashed 4px;
}
.footer-more-trigger .arrow-d {
  border-color: #666 transparent transparent transparent;
  border-top-style: solid;
  right: 12px;
  top: 11px;
}
.footer-more-panel {
  text-align: left;
  position: absolute;
  right: 26px;
  bottom: -90px;
  padding: 7px 3px 2px 2px;
  border: 1px solid #c5c5c5;
  width: 57px;
  background: white;
  line-height: 1.9;
  display: none;
}
.footer-more-panel a {
  float: none;
  margin-right: 3px;
}
.footer-more-hover .footer-more-trigger,
.footer-more:hover .footer-more-trigger {
  border-color: #c5c5c5;
  background: #fff;
  border-bottom: 0;
}
.footer-more-hover .footer-more-panel,
.footer-more:hover .footer-more-panel {
  display: block;
}

.footer-more-hover .footer-more-trigger .arrow-d,
.footer-more:hover .footer-more-trigger .arrow-d {
  -moz-transform: rotate(180deg);
  -moz-transform-origin: 50% 30%;
  -o-transform: rotate(180deg);
  -o-transform-origin: 50% 30%;
  -webkit-transform: rotate(180deg);
  -webkit-transform-origin: 50% 30%;
  transform: rotate(180deg);
  transform-origin: 50% 30%;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation = 2);
  *top: 8px;
  top: 8px \0/;
}

/* }}} */

/* B2B�û������Ա���Nick��ͻ����ҳ�����һ���ɰ��iFrame��ʾ��Ϣ {{{ */

.cbu-cover {
  background: black;
  width: 100%;
  height: 3000px;
  opacity: 0.3;
  filter: alpha(opacity=30);
  position: fixed;
  _position: absolute;
  top: 0;
  z-index: 10001;
}
.cbu-cover iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: mask();
  width: 100%;
  height: 100%;
}
.cbu-iframe {
  width: 630px;
  height: 340px;
  border: 0 none;
  z-index: 10002;
  position: fixed;
  _position: absolute;
  top: 25%;
  left: 25%;
}

/* }}} */

/*-----------------*/
/* DPL */

.g_price {
  font-family: arial;
}
.g_price span {
  color: #999;
  margin-right: 3px;
}
.g_price strong {
  color: #f40;
  font-weight: bold;
  font-family: verdana, arial;
}
.g_price strong b {
  font-weight: bold;
  margin-left: 3px;
}
/* Ǯ�ҷ��Ÿ��� */
.g_price-highlight span {
  color: #f40;
}
/* ���򱳾� */
.g_price-reversed span,
.g_price-reversed strong {
  color: #fff;
}
/* ԭ���ۿ� */
.g_price-original strong {
  color: #999;
  font-weight: normal;
}
.g_price-original strong {
  text-decoration: line-through;
}
/* ������(���� 30px) */
.g_price-big span,
.g_price-big strong b {
  font-size: 30px;
}
