body {
    background: white url(img/bg.jpg) no-repeat;
    color:#123456;
    font:0.7em Arial,Verdana,Sans-Serif;
    margin:0;
}
html, body {height: 100%;}
#contain {
    margin:0 auto;
    width: 990px;
    position: relative;
    padding-top: 30px;
}
#contain a.button {
    width: 270px;
    padding: 15px;
    background: black;
    color: yellow;
    display: block;
    text-align: center;
    font-size: 1.3em;
    cursor: pointer;
    line-height: 28px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    text-decoration: underline;
    font-weight: 700;
}
.colorlist {
    padding: 0;
    margin: 0;
}
.colorlist li { list-style:none; float:left; width:20px; height: 20px; }
#contain a.button:hover, #contain a.button:focus {
    color: white;
}
#contain p {
    width: 240px;
    background: black;
    margin: 0;
    clear: both;
    padding: 30px;
    color: yellow;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 10px;
}
#contain img {
    display: block;
    clear: both;
    width: 298px;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
}
#contain div {
    float: left;
    width: 300px;
    padding: 15px;
}
code { font-family: "Consolas","Lucida Console",Courier,mono; font-size: 13px; background: #EEE; padding: 0 4px; }
h2 {
    text-align: center;
    color: #222;
    text-transform: uppercase;
    font-size: 2em;
}
a { color: #822425; font-weight: 700; }
#over {
    width: 100%;
    height: 100%;
    position: fixed;
    _position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 19;
}
#msg {
    width: 600px;
    margin: 0 0 0 -340px;
    padding: 40px;
    background: white;
    position: absolute;
    top: 25%;
    left: 50%;
    font-size: 1.2em;
    z-index: 20;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -webkit-box-shadow: 0 0 10px #222;
}
#jsnotice {
    font-weight: 700;
    color: #822425;
}
body.js #jsnotice { display: none; }
#infobutton {
    position: absolute;
    top: 10px;
    left: 10px;
    line-height: 30px;
    padding: 0 10px;
    background: black;
    color: yellow;
    z-index: 21;
    border: none;
}
#msg li {
    padding: 4px 0;
}
#msg h1 { text-align: left; padding: 0; margin: 0; font-size: 1.6em; text-transform: uppercase; }
#msg small { font-size: 1em; padding-bottom: 10px; }