<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>Home | Faux Absolute Positioning demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link
      rel="shortcut icon"
      href="http://fapdemo.solide-ict.nl/misc/favicon.ico"
      type="image/x-icon" />

    <style media="all">
      @import 'fap.css';
    </style>
  </head>
  <body>
    <div id="canvas">
      <!--width independent from body-->
      <div id="header" class="line">
        <div class="item" id="logoitem">
          <div class="sap-content">
            <!--prevents redraw bug in IE-->
            <h1 id="site-name">
              <a href="http://fapdemo.solide-ict.nl/" title="Index Page"
                >Faux Absolute Positioning demo</a
              >
            </h1>
          </div>
        </div>
      </div>
      <!-- end header -->

      <div class="line" id="navigation">
        <div class="item" id="primary-nav">
          <div class="sap-content"></div>
        </div>
      </div>

      <div id="main" class="line">
        <div class="item column" id="sidebar-left">
          <div class="sap-content">
            <div id="block-user-0" class="block block-user">
              <h2>User login</h2>

              <div class="content">
                <form
                  action="/home?destination=node%2F1"
                  accept-charset="UTF-8"
                  method="post"
                  id="user-login-form">
                  <div>
                    <div class="form-item" id="edit-name-wrapper">
                      <label for="edit-name"
                        >Username:
                        <span
                          class="form-required"
                          title="This field is required."
                          >*</span
                        ></label
                      >
                      <input
                        maxlength="60"
                        name="name"
                        id="edit-name"
                        size="15"
                        class="form-text required"
                        type="text" />
                    </div>
                    <div class="form-item" id="edit-pass-wrapper">
                      <label for="edit-pass"
                        >Password:
                        <span
                          class="form-required"
                          title="This field is required."
                          >*</span
                        ></label
                      >
                      <input
                        name="pass"
                        id="edit-pass"
                        maxlength="60"
                        size="15"
                        class="form-text required"
                        type="password" />
                    </div>
                    <input
                      name="op"
                      id="edit-submit"
                      value="Log in"
                      class="form-submit"
                      type="submit" />
                    <div class="item-list">
                      <ul>
                        <li>
                          <a
                            href="http://fapdemo.solide-ict.nl/user/password"
                            title="Request new password via e-mail."
                            >Request new password</a
                          >
                        </li>
                      </ul>
                    </div>
                    <input
                      name="form_id"
                      id="edit-user-login-block"
                      value="user_login_block"
                      type="hidden" />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="item column" id="maincontent">
          <div class="sap-content">
            <div class="tabs"></div>
            <div id="node-1" class="node clear-block">
              <div class="meta"></div>

              <div class="content">
                <p>
                  Synergistically parallel task high standards in solutions
                  after proactive web-readiness. Synergistically simplify
                  end-to-end metrics and client-based interfaces. Holisticly
                  supply high standards in quality vectors for professional
                  schemas.
                </p>
                <p>
                  Objectively recaptiualize accurate systems and holistic
                  benefits. Phosfluorescently iterate parallel portals vis-a-vis
                  unique supply chains. Rapidiously maximize competitive
                  leadership skills rather than distinctive leadership.
                </p>
                <p>
                  Credibly leverage other's technically sound leadership and
                  standardized infrastructures. Completely whiteboard corporate
                  outsourcing before 24/7 action items. Proactively pursue
                  ethical interfaces after plug-and-play e-business.
                </p>
                <p>
                  Progressively promote sticky channels through resource
                  maximizing outsourcing. Completely e-enable bricks-and-clicks
                  innovation rather than vertical innovation. Conveniently
                  productize enabled ROI whereas goal-oriented expertise.
                </p>
                <p>
                  Completely administrate cross-unit web-readiness vis-a-vis
                  state of the art content. Dynamically network cross-media
                  solutions via worldwide e-services. Continually coordinate
                  distinctive outsourcing after seamless process improvements.
                </p>
              </div>

              <ul class="links inline">
                <li class="first last comment_forbidden">
                  <span class="comment_forbidden"
                    ><a
                      href="http://fapdemo.solide-ict.nl/user/login?destination=comment/reply/1%2523comment-form"
                      >Login</a
                    >
                    to post comments</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="item column" id="sidebar-right">
          <div class="sap-content">
            <div id="block-user-3" class="block block-user">
              <h2>Who's online</h2>

              <div class="content">
                There are currently <em>0 users</em> and
                <em>0 guests</em> online.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="footerline" class="line">
        <div class="item" id="footer">
          <div class="sap-content">
            <div id="block-block-1" class="block block-block">
              <div class="content">
                <p>this is often used for colofon, disclaimer and so on</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
